<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.music">
    <!--
         Required only if your app needs to access audio files
         that other apps created.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!--
 If your app doesn't need to access media files that other apps created,
         set the "maxSdkVersion" attribute to "28" instead.
    -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        tools:replace="android:name"
        android:name=".online.di.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MUSIC"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:name=".online.ui.activities.OnlineMainActivity"
            android:exported="false" />

        <activity
            android:configChanges="uiMode"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:name=".utils.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:name=".online.ui.activities.LOGActivity"
            android:exported="false" />

        <activity
            android:configChanges="uiMode"
            android:launchMode="singleTask"
            android:name="com.example.music.offline.ui.activities.MainActivity"
            android:exported="false" />

        <service android:name="com.example.music.offline.services.MusicPlayerService" />
        <service android:name=".online.services.OnlineMusicPlayerService" />

        <receiver android:name=".utils.MusicPlayerReceiver" />

    </application>

</manifest>